* {
  scrollbar-color: hsl(var(--bc)) transparent;
}

::-webkit-scrollbar {
  @apply w-4 h-4;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-base-content bg-clip-content border-4 border-solid border-transparent;
}

::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

::selection {
  @apply bg-base-content bg-opacity-30;
}

html {
  @apply h-full overflow-y-scroll;
}

body {
  @apply container flex flex-col w-full h-full px-4 m-auto bg-base-100 text-base-content text-sm tracking-widest;
}

body:focus-visible {
  @apply outline-none;
}

input[readonly] {
  @apply cursor-default;
}

input[type='range']:focus {
  @apply outline-none;
}

.input-primary:focus {
  @apply ring-1 ring-offset-2 ring-offset-base-100 ring-base-content;
}

.menu li > a:hover {
  --tw-bg-opacity: 0.2;
}

.menu li > a:active {
  --tw-bg-opacity: 1;
}

.menu.horizontal li > a,
.menu.horizontal li > span {
  border-bottom-width: 1px;
  border-bottom-color: transparent;
}

.menu.horizontal li.bordered > a,
.menu.horizontal li.bordered > span {
  border-bottom-width: 1px;
}

.btn-ghost:focus-visible {
  @apply ring-1 ring-base-content outline-none;
}

.btn,
.input {
  letter-spacing: inherit;
  font: inherit;
  font-weight: inherit;
}
